@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--brand: #ff4500;
}

html, body, #root {
	height: 100%;
}

body {
	@apply bg-white text-slate-900 antialiased dark:bg-neutral-900 dark:text-neutral-100;
	margin: 0;
}

a {
	@apply text-brand hover:text-brand-dark;
}
